@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css); 

/*#next-button {*/
/*  width: 47vw;*/
/*  height: auto;*/
/*  position: absolute;*/
/*  bottom: 6vh;*/
/*  left: 25vw;*/
/*  padding: 1vh 0;*/
/*  background-color: rgba(255, 188, 0);*/
/*  border: 0.1em solid white;*/
/*  text-align: center;*/
/*  color: rgba(96, 88, 76);*/
/*  border-radius: 10px;*/
/*}*/

/*#next-button:active {*/
/*  background-color: rgba( 255, 255, 255, 0.1 );*/
/*  color: rgba(255, 188, 0);*/
/*}*/


/*#import-button {*/
/*  width: auto;*/
/*  height: auto;*/
/*  position: absolute;*/
/*  bottom: 6vh;*/
/*  right: 3vw;*/
/*  padding: 1.1vw 1.4vh;*/
/*  border: 0.1em solid white;*/
/*  text-align: center;*/
/*  color: rgba(96, 88, 76);*/
  /*background-color: ;*/
/*  border-radius: 10px;*/
/*}*/

/*#import-button:active {*/
/*  background-color: white;*/
/*  color: rgba(255, 188, 0);*/
/*}*/

/*#btn-main {*/
/*  font-size: 1.7em;*/
/*  font-weight: bold;*/
/*  text-align: center;*/
/*  font-family: 'Nanum Barun Gothic';*/
/*}*/

/*#btn-sub {*/
/*  font-size: 1.2em;*/
/*  text-align: center;*/
/*  font-family: 'Nanum Barun Gothic';*/
/*}*/

/*#btn-small {*/
/*  font-size: 1.1em;*/
/*  color: white;*/
/*  text-align: center;*/
/*  font-weight: bold;*/
/*  font-family: 'Nanum Barun Gothic';*/
/*}*/

body {  
  width:100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#alert-area {
  width: 100%;
  height: auto;
  position: absolute;
  top: 40%;
  left: 0;
  text-align: center;
}

.alert-msg {
  display: inline-block;
  overflow: hidden;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #fff;
  background: rgba(0,0,0,0.7);
}

/*#logo-area {*/
/*  top: 0;*/
/*  width: 20vw;*/
/*  left: 0;*/
/*  right: 0;*/
/*}*/

/*#kb-logo {*/
/*  position: relative;*/
/*  width: 40px;*/
/*  height: 30px;*/
/*  right: 1vw;*/
/*}*/

/*#kookminbank {*/
/*  position: relative;*/
/*  font-size: 1.0em;*/
/*}*/

.trapezium {
  height: 0;
  width: 150px;
  border-bottom: 150px solid green;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.logo {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 11;
  text-align: left;
  font-size: 0;

}
.logo img {
  width: auto;
  height: 22px;
  vertical-align: top;
}

.logo h1 {
  color: white;
  display: inline;
  font-family: 'Nanum Barun Gothic';
  font-size: 19px;
  padding: 0 0 2px;
}


.btns-wrap {
  overflow-y: hidden;
  overflow-x: auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 0;
  white-space: nowrap;
}
.btns-wrap .btn {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  height: 64px;
  padding: 5px 12px;
  margin:0 6px;
  border-radius: 10px;
  vertical-align: top;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.03em;
  text-decoration: none;
  color: black;
  background: radial-gradient(at center,rgba(255,255,255,0.7),rgba(255,255,255,0.9) 70%);
}
.btns-wrap .btn:first-child {
  margin-left: 15px;
}
.btns-wrap .btn:last-child {
  margin-right: 15px;
}
.btns-wrap .btn .btn-txt {
  display: block;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
}
.save-number {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 110px;
  right: 15px;
  z-index: 11;
  width: 65px;
  height: 57px;
  border-radius: 7px;
  text-decoration: none;
  color: transparent;
  opacity: 0.8;
  background-color: #ffd016;
  background-image: url(../assets/icon/add.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 90%;
}
